!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Toledo Swimming Pools brought to you by Inground Expressions
    %link{:rel => "stylesheet", :href => "/css/application.css", :type => "text/css", :media => "all"}
  %body
    .container
      #alpha
        %img{:src => "/images/IngroundExpressions.gif", :alt => "Inground Expressions", :style => "width: 600px; height: 100px;"}
      #beta
        %h1 Your Backyard Has Feelings Too.
        %h6 Full Site Coming Soon.
      #chi
        %h4
          Serving
          %span.underline Northwest Ohio
          and
          %span.underline Southwest Michigan
          \// 
          %span.underline Lifetime warranty
          on our pools
      #delta
        %h5
          Selling 
          %a{:href => "http://vikingpools.net"} Viking Pools
          \|
          managed by
          %a{:href => "http://dolphinfiberglasspools.com"} Blue Dolphin
          \|
          contact via
          %a{:href => "mailto:info@ingroundexpressions.com"} info@ingroundexpressions.com
          %br
          %span.right or 419.270.2987
      /
        #epsilon
          %img{:src => "/images/VikingPoolsLogo.gif", :alt => "Viking Pools"}
          %img{:src => "/images/BlueDolphinLogo.gif", :alt => "Blue Dolphin Fiberglass Pools"}
          %img{:src => "/images/IngroundExpressionsSmall.gif", :alt => "Inground Expressions"}
      #gamma
        %img{:src => "/images/Triton.gif", :alt => "Viking Triton Pool", :style => "width: 300px; height: 159px;"}
        %img.overlap{:src => "/images/Cancun.gif", :alt => "Viking Cancun Pool", :style => "width: 300px; height: 224px;"}
        %img.overlap2{:src => "/images/Laguna.gif", :alt => "Viking Laguna Pool", :style => "width: 300px; height: 212px;"}